/*
* reated by hoshen.mahmud on 25-Nov-15.
*
*======================================================================================================================================================*/
.s1 {
    background-color: #b2d1ff;
}

.s2 {
    background-color: #EEEEEE;
    padding-left: 30px;
}

.p {
    background-color: #ADD8E6;
    color: #191970;
}
/*======================================================================================================================================================*/